body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#InlineFrame1
{
   /* -moz-box-shadow: -2px -2px 3px #696969;
   -webkit-box-shadow: -2px -2px 3px #696969;
   box-shadow: -2px -2px 3px #696969;*/
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
  /* text-align: center;*/
   vertical-align: middle;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_panel #PanelMenu1_markup
{
   display: block;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
   margin-top: 34px;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover
{
   /* padding: 10px 10px 10px 10px; */
   border-width: 0;
   border-bottom-width: 1px;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}
#PanelMenu1_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 270px;
   z-index: 9999;
}
.ecp_web i{background:url(./js/log/q.png);background-repeat:no-repeat;height: 20px;width: 15px;}
.add_menu{background:url(./js/log/add.png);background-repeat:no-repeat;}
.Panclose{background:url(./js/log/closepan.png);background-repeat:no-repeat;width: 43px;height: 43px;}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   color: #F7F7F7;
   /*border: 1px #2E2E2E solid;
   background-color: #3E3E3E;*/
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
}
.add_sig{
	float: left;
    padding: 27px 6px 0px 30px;
}
.Panpic1{
	background-image: url(./js/right.png);width: 43px;height: 43px;
	background-repeat:no-repeat;
	
}
.Panpicck{
	background-image: url(./js/left.png);width: 43px;height: 43px;
	background-repeat:no-repeat;
	
}
.Panpic2{background-image: url(./js/menu1.png);width: 43px;height: 43px;background-repeat:no-repeat;}
		#PanelMenu1{  position: relative;top: 500px;}
		#PanelMenu2{  position: fixed;right:0px;top:0px;z-index: 999;}
#PanelMenu1_panel
{
   background-color: #3E3E3E;
   overflow-y: auto;
}
.ecp_web a{
	color:#fff !important;
	font-size:15px !important;
}
#PanelMenu1
{
    /*line-height: 38px;
  width: 866px;
   height: 38px;*/
}
#wb_PanelMenu2 a, #PanelMenu2_markup li a
{
   display: block;
   /*text-align: center;*/
   vertical-align: middle;
}
#PanelMenu2_markup
{
   
   margin: 0;
   padding: 0;
}
#PanelMenu2_panel #PanelMenu2_markup
{
   display: block;
}
#PanelMenu2_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.ecp_menu li{float:left;}
.menuli i{display: none;}
.ecp_menu li{
	text-align: center;
	padding: 27px 6px 0px 30px;
	color: #91a0b5;
	font-family: 'NotoSansHans-Regular';
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
}
.ecp_pdf:hover{border:1px solid rgba(58,110,165,1)}
.ecp_web li{
	text-align: center;
	padding: 16px 0px 20px 0px;
	color: #fff;
	font-family: 'NotoSansHans-Regular';
	font-weight: 600;
    font-size: 15px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	border-left: 3px solid #262d3a;
}
.E_open{
   height: 129px;
    width: 171px;
    background: #fff;
	position: absolute;
    right: 80px;
    top: 136px;
}
.E_open input{
	width: 130px;
    margin-left: 15px;
}
.E_open div{
	line-height:40px;
}
#PanelMenu2_markup li a, #PanelMenu2_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   border-width: 0;
   border-bottom-width: 1px;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}
.ecp_pdf{
	position: relative;
	height: 90px;
    width: 90px;
    border: 1px solid rgba(255,255,255,0.37);
	background:rgba(107,130,171,0.12);
	font-size: 14px;
}
.ecp_pdf span{
	color:#c5ddff;
	/*font-family:'NotoSansHans-Regular';*/
}
.fa-etc span{font-size:23px;color:#ffffffe6;}
.self_mode{
	height: 45px;
    color: #c5ddff;
    text-align: center;
    background: #3b465c;
    line-height: 45px;
    font-size: 18px;
	font-family:'NotoSansHans-Regular';
}
.ecp_pdf>div{margin-top: 24px;padding-bottom:10px;}
.mode_close{
	background:url(./js/log/close.png);background-repeat:no-repeat;
	height: 20px;
    width: 20px;
	position: absolute;
    right: 0px;
    top: 0px;
}
.add_pdf{
	background:url(./js/log/add.png);background-repeat:no-repeat;
	width: 18px;
    height: 18px;
	position: relative;
	left: 35px;
    top: 35px;
	margin-top: 0px !important;
}
#PanelMenu2_panel
{
   display: none;
   position: absolute;
   position: fixed;
   top: 0;
   height: 100%;
   width: 279px;
   z-index: 1100;
}
#wb_PanelMenu2 a, #PanelMenu2_markup li a
{
   color: #F7F7F7;
   /* border: 1px #2E2E2E solid;
  background-color: #3E3E3E;*/
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
}
#wb_PanelMenu2 a:hover, #PanelMenu2_markup li a:hover
{
   color: #F7F7F7;
   /*background-color: #484848;
   border: 1px #2E2E2E solid;*/
}
#PanelMenu2_panel
{
   background-color: #3E3E3E;
   overflow-y: auto;
}
#PanelMenu2
{
   /* line-height: 38px;
   width: 1032px;
   height: 38px;*/
}
