body,html{
    margin:0;
    padding:0;
    font-family: "Noto Sans S Chinese Thin","Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}
a,ul{list-style: none;
    text-decoration: none
}
ul,li{
    margin:0;
    padding:0;
}
#top a{
    color: #fff;
}
button{
    border:none;
    outline:none;
}
.left-nav{
transition: 0.3s all ease-in-out;
}

.left-nav-sons1,.left-nav-sons{
    height: 74px;
    width: 70px;
    text-align:center;
    padding-top:11px;
}
.left-nav-sons1 {
    background: #222;
}
.left-nav-sons7{
    /*margin-top: 100%;*/
    position: absolute;
    cursor: pointer; 
     bottom: 60px; 
/*     bottom: 30px;
  position: fixed;
  left:0;    */  
} 
.left-nav-sons1,.left-nav-sons:hover{
    background: #222;
    transition: 0.5s all ease-in-out;
}
.left-nav-sons1,.left-nav-sons{
    position: relative;
    cursor: pointer;
}
.left-nav-sons-children{
    position: fixed;
    height: 100%;
    width: 284px;
    background: #313131;
    left: 70px;
    top: 0px;bottom: 0;
    display: none;
    padding: 0 20px;
}    
.left-nav-sons.open .left-nav-sons-children{display: block;}
/**********end****************************************/
.left-nav-sons1-1{
    position: absolute;
    height: 980px;
    width: 400px;
    background: #313131;
    left: 70px;
    top: -60px;
    display: none;
}
.left-nav-sons1-2{
    position: absolute;
    height: 980px;
    width: 400px;
    background: #313131;
    left: 70px;
    top: -140px;
    display: none;
}
.left-nav-sons1-3{
    position: absolute;
    height: 980px;
    width: 400px;
    background: #313131;
    left: 70px;
    top: -220px;
    display: none;
}
.left-nav-sons1-4{
    position: absolute;
    height: 980px;
    width: 400px;
    background: #313131;
    left: 70px;
    top: -300px;
    display: none;
}
.left-nav-sons1-5{
    position: absolute;
    height: 980px;
    width: 400px;
    background: #313131;
    left: 70px;
    top: -380px;
    display: none;
}
.left-nav-sons1-6{
    position: absolute;
    height: 980px;
    width: 400px;
    background: #313131;
    left: 70px;
    top: -460px;
    display: none;
}
.sons7-main{
    height: 100%;
    width:100%;
    background: #222;
    overflow: hidden;
    position: fixed;
    z-index:10;
    margin-left: -100%;
    transition: 0.5s all ease-in-out;
}
.bf1-div{
    width: 100%;height: 100%;background: #222;position: fixed;z-index: 10;margin-left:100%;
    transition: 0.5s all ease-in-out;
}
.bf2-div{
    width: 100%;height: 100%;background: #222;position: fixed;z-index: 10;margin-left:100%;
    transition: 0.5s all ease-in-out;
}
.bf3-div{
    width: 100%;height: 100%;background: #222;position: fixed;z-index: 10;margin-left:100%;
    transition: 0.5s all ease-in-out;
}
.bb{
    margin-left: 0;
}
.con { display:none; border:#033 1px solid; height:70%; width:100%; }
.con>div:first-child{
    margin-left: 17%;
}
.con>div{
    width: 200px;
    margin-left: 10px;
    height: 500px;
    float: left;
    margin-top: 3%;
}
.Con-P11{
    font-size: 18px;
    font-weight: 600;
    float: left;
    margin-right: 50px;
    height: 50px;
    color: #fff;
}
.Con-P1{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #D6D6D6;
    height: 50px;
    color: #fff;
}
.Con-P2{
    color: #fff;
    font-size: 16px;
    height: 50px;
}
.Con-P22{
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    height: 50px;
}
.sons7-btn{    background-color: transparent;
    color: #fff;
    border-radius: 0;
    overflow: hidden;
    height: 120px;
    background: #222;}
.sons7-btn span { width:120px;
    height:40px;
    text-align:center;
    color:#878888;
    cursor:pointer;
    margin:0 5px;
    display:block;
    float:left;
    font-size: 24px;
    font-weight: bold;
    padding-top: 5px;
    margin-top: 1.3%;
}
.sons7-btn span:hover{
    color: #fff;
}
.sons7-btn span:first-child{
    margin-left: 16%;

}
.sons7-btn.focus, .sons7-btn:focus, .sons7-btn:hover {
    color: #333;
    text-decoration: none;
}
.BF1, .BF2, .BF3 {
    background: transparent;
    cursor: pointer;
}
.BF1>span, .BF2>span, .BF3>span {
    display: inline-block;
    height: 25px;
    width: 120px;
    border-radius: 3px;
    background: #222222;
    color: #fff;
    padding-top: 5px;
}
.BF1>span:hover,
.BF2>span:hover,
.BF3>span:hover{
    background: #029BAE;
}
.BF1:hover span,
.BF2:hover span,
.BF3:hover span {background: #029BAE;}

.s-2,.s-3{
    margin-left: 1.5%;
}
.big-pic1{
    width: 100%;
    height: 1000px;
    background:url(../img/big-picture/bg.jpg);
}
.input-button{
    width: 70px;
    height: 60px;
    background:url(../img/small-icons/sousuo.png);
    position: fixed;
    margin-left: 320px;
    margin-top: 60px;
}
.input-left{
    height:40px;
    width: 0;
    float: right;
    margin-right: 90px;
    margin-top: 70px;
    outline: none;
    border:none;
}
.input-left-width{
    width: 300px;
    transition: 0.5s all ease-in-out;
}
.Nav-left-P{
    text-align: left;
    font-size: 14px;
    color: #2D95A2;
    font-weight: 100;
    margin:10px 0;
}
.Nav-left-P1:hover{
    background: #222222;
}
.Nav-left-P1{
    font-size: 16px;
    padding-top: 10px;
    height:px;
    font-weight: 100;
    width:92%;
    padding-left: 30px;
    color: #fff;

}


.box-img>div>img,.box-img>a>div>img{
    width:50%;margin-left: 23%;margin-top: 23%
}
.box-img{
    width: 400px;height:260px;margin-top: 20px;
}


.text-F1{font-size: 16px;width: 90%;margin: 0 auto;line-height: 20px;color: #fff;text-align: left;border-bottom: 1px solid #fff;
    padding-bottom: 10px}
.text-F2{color: #fff;text-align: left;font-size: 20px;width: 90%;margin: 0 auto;line-height: 20px;margin-bottom: 10px;margin-top: 5%;}
.text-F3{text-align:center;font-size: 24px;padding:30px 0;
    margin:0;
    color: #fff;}


.box-img span{
    text-align:center;margin-top: -20px;display: block;color: #bfbfbf;
}
.Nav-left-img{
    position: relative
}
.Nav-left-span{
    position: absolute;bottom: -1px;color: #fff;font-size: 12px;text-align: center;
    width: 100%;padding:0;left:0;

}
.logo-box{
    height: 60px;width: 200px;position: fixed;margin-left: 12%;z-index: 30;
}
.logo-box>img{
    width:100%;
    height:100%;
}
.txt1{
    font-size: 16px;text-align: left;cursor: pointer;
    color: #fff;font-weight: 100;
}
.txt2{
    font-size: 20px;text-align: left;cursor: pointer;
    color: #fff;font-weight: 100;
}

@media screen and (max-width: 1080px){
    .s-k{margin-top: -10%;}
}
@media screen and (max-width: 1400px) {
    .under-header{
        display: none;
    }
}























