* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
    overflow-x: hidden;
    background-color: #fff;
    overflow-y: hidden;
    font-family: 微软雅黑;
}

body::-webkit-scrollbar {
    width: 0 !important
}

body {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}


li {
    list-style: none;
}


.exterior {
    width: 100%;
    height: 100%;
    position: fixed;
    border: none;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
	z-index:666;
}


/* 左边动画盒子*/
.leftBox {
    width: 270px;
    /* width: 50px; */
    height: 100%;
    position: fixed;
    z-index: 9;
    left: -270px;
    color: #fff;
    background-color: #333;
}

.leftBox .leftContent {
    list-style: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 270px;
    height: 100%;
    box-shadow: -16px 0px 13px -13px #000 inset;
    padding-top: 70px;
    position: relative;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #333333;
}

.leftBox .leftContent>li {
    width: 100%;
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
}
.leftBox .leftContent>li .cbp-hrsub{
	padding-left: 62px;
	width: 100%;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 28px;
    background-color: #1A1B1E;
    cursor: pointer;
    color: #8DACC4;
	display:none;}

.leftBox .leftContent>li {
    /* margin-left: 25px; */
}
.leftBox .leftContent li img {
    height: 28px;
    width: 28px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 4px;
}

.leftBox .leftContent>li>.title:hover {
    background-color: #484848;
    border-left: 4px solid #5874D8;
}

.leftBox .leftContent>li>.title {
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    text-align: left;
    border-left: 4px solid #333;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
	padding-left: 25px;
	display: block;
}
.leftBox .leftContent>li li>a{
	color:#8DACC4;
}

.leftBox .leftContent>li ul{
	padding:8px 0;
}
.leftBox .leftContent .cbp-hrsub li:hover{
	color:#fff;
}
.leftBox .leftContent>li .title {
	text-decoration:none;
}
.leftBox .leftContent>li .liNav {
    width: 100%;
    /* height: 100px; */
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 0;
    display: none;
    background-color: #1A1B1E;
    padding: 8px 0px;
}

.leftBox .leftContent>li .liNav li {
    width: 100%;
    text-align: left;
    padding-left: 62px;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 28px;
    background-color: #1A1B1E;
    cursor: pointer;
    color: #8DACC4;
}

.leftBox .leftContent>li .liNav li:hover {
    color: #fff;
}






/* 右边按钮 */
#rightBtn {
    position: fixed;
    right: 18px;
    margin-top: 10px;
    top: 0;
    z-index: 999;
}

.hamburger .line {
    width: 18px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 4px auto;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hamburger:hover {
    cursor: pointer
}

#rightBtn.is-active .line:nth-child(2) {
    opacity: 0
}

#rightBtn.is-active .line:nth-child(1) {
    margin-top: 12px;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-transform: translateY(-1px) rotate(45deg);
    -o-transform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg)
}

#rightBtn.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg)
}




/* 右边动画盒子 */
#rightBox {
    width: 265px;
    height: 100%;
    position: fixed;
    left: 100%;
    top: 0;
    z-index: 10;
    margin-left: 0px;
}
#rightBox .rightBoxContent {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #333333;
    /* 阴影 */
}
#rightBtn i {
    font-size: 22px;
}
#rightBox .rightBoxContent .content {
    box-shadow: 16px 0px 13px -13px #000 inset;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}


#rightBox .rightBoxContent .content .contentTitle {
    width: 265px;
    height: 49px;
    background-color: #666666;
    text-align: left;
    padding-left: 20px;
    line-height: 49px;
    color: #fff;
    font-family: 微软雅黑;
    font-size: 16px;
    margin-left: -10px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 16px 0px 13px -13px #000 inset;
}

#rightBox .rightBoxContent .content ul {
    width: 255px;
    /* height: 100%; */
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    background-color: #333333;
    padding-top: 26px;
    padding-left: 28px;
    box-sizing: border-box;
}

#rightBox .rightBoxContent .content ul li {
    width: 90px;
    height: 90px;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.37);
    background: rgba(107, 130, 171, 0.12);
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 90px;
    margin-right: 12px;
    margin-bottom: 16px;
    overflow: hidden;
    cursor: pointer;
}

#rightBox .rightBoxContent .content ul li:nth-last-of-type(1) {
    /*font-size: 30px;*/
    color: #fff;
    line-height: 76px;
}

#rightBox .rightBoxContent .content ul li:hover {
    border-color: rgba(58, 110, 165, 1);
}

#rightBox .rightBoxContent .content ul li .image {
    width: 100%;
    height: 50%;
    float: left;
    padding-top: 20px;
    box-sizing: border-box;
    /* background-color: skyblue; */

}

#rightBox .rightBoxContent .content ul li img {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
}

#rightBox .rightBoxContent .content ul li .contentText {
    width: 100%;
    /* background-color: pink; */
    line-height: 25px;
}





/* 右边帮助详情页面 */
.assist {
    width: 1000px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    /* margin-left: 100%; */
    height: 100%;
    background-color: #ddd;
}

.assist .assistContent1 {
    width: 1000px;
    height: 100%;
   /* background-color: pink;*/
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    border: 0;
}



/* 中间左按钮 */
#btnLeft {
    width: 55px;
    height: 45px;
    border: none;
    color: #ddd;
    font-size: 30px;
    position: fixed;
    top: 50%;
    text-align: center;
    line-height: 100px;
    display: block;
    margin-top: -50px;
    cursor: pointer;
    left: 0px;
	z-index:1000;
}

#btnLeft i {
    display: block;
    font-size: 30px;
}



/* 中间主体页面*/
.middleContentIframe {
    width: 100%;
    height: 100%;
    position: relative;
}

.middleContentIframe .middleIframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* 页面动画链接 */
.leftIframe {
    /* width: calc(100vw - 270px); */
    width: 100vw;
    height: 100%;
    margin-left: 200vw;
    border: none;
    position: absolute;
    left: calc(-100vw + 270px);
    top: 0;
    z-index: -1;
    background-color: pink;

}

.leftIframe .pageFrame {
    display: block;
    width: calc(100vw - 270px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    float: right;
    z-index: 1;
    border: 0;
}

.leftIframe .sonBox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}










/* 动画类名 */

.pageFrameW100 {
    width: 100vw !important;
}

/* .marginleft0 {
    margin-left: 0;
} */

/* .marginleft100 {
    margin-left: calc(100vw);
} */

/* .block {
    display: block;
} */