/*产品优势*/
.etc-can-prodect{
	background: #fff;
	height: 100%;
	}
.can-proder-center{
	text-align: center;
	font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 28px;
	color: #323232;
	margin-bottom: 18px;
	}
.etc-thumbnail{
	border: none !important;
	border-radius:0 !important;
	}
.etc-bors:hover{
	box-shadow: -5px 0px 5px rgba(243,74,64,0.20),5px 0px 5px rgba(243,74,64,0.20),5px 0px 5px rgba(243,74,64,0.20),0px 10px 10px #ccc;
	transition: 0.3s all ease-in-out;
	cursor: pointer;
	}
	
.etc-can-proderct-title{
	display: block;
    text-align:center;
    color: #323232 !important;
    font-size: 16px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none !important;
    /*cursor: none;*/
	}
.etc-can-img{
	text-align: center;
	margin-top: 12px;
	margin-bottom:14px;
	}
.etc-can-p{
	text-align: center;
	margin-bottom: 20px;
	color: #8C8C8C;
	font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}



/*经营管理一体化*/
.etc-thumbnail-row{
	border: none !important;
	}
.etc-can-prodects-messages{
	background: #fff;
	height: 100%;
	}
.etc-can-p-mesage-1{
	text-align: right;
    margin-top: 36px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #8C8C8C;
    font-size: 14px;
	}
.etc-can-p-mesage-2{
	text-align: right;
    margin-top: 65px;
   font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #8C8C8C;
    font-size: 14px;
	}
.etc-can-p-mesage-3{
	text-align: right;
    margin-top:52px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #8C8C8C;
    font-size: 14px;
	}
.etc-can-p-mesage-4{
	text-align: right;
    margin-top:50px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #8C8C8C;
    font-size: 14px;
	}
.etc-can-p-mesage-5{
	text-align: left;
    margin-top:40px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #8C8C8C;
    font-size: 14px;
	}
.etc-can-p-mesage-6{
	text-align: left;
    margin-top:65px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #8C8C8C;
    font-size: 14px;
	}
.etc-can-p-mesage-7{
	text-align: left;
    margin-top:48px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #8C8C8C;
    font-size: 14px;
	}
.etc-can-p-mesage-8{
	text-align: left;
    margin-top:50px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #8C8C8C;
    font-size: 14px;
	}
	
/*集团化*/
.etc-can-prodects-zt{
	/*background: #F0F0F0;*/
	}
.etc-thumbnails{
	/*background: #F0F0F0;*/
	border: none !important;
	border-radius: none !important;
	}
.etc-thumbnail-rows{
	/*background: #F0F0F0;*/
	border: none !important;
	border-radius: none !important;
	}
.etc-can-zt-p-1{
	margin-top:5px;
	font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	color: #323232;
	}
.etc-can-zt-p-2{
	margin-top: 13px;
	font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #8C8C8C;
	line-height: 28px;
	}
.etc-border{
	height: 1px;
	width: 100%;
	background: #ccc;
	margin-top: 17px;
	margin-bottom: 17px;
	}
.etc-can-zt-p-3{
	font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	color: #323232;
	}
.etc-can-zt-p-4{
	margin-top: 13px;
	font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #8C8C8C;
	line-height: 28px;
	}
	
	

/*footer*/
.etc-can-footer{
	height: 60px;
    background: #1d1d23;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    padding-right: 0 !important;
    
	}

.eta-footer{
	font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #FFFFFF !important; 
	text-decoration: none !important;
	font-size: 12px;
	}
.can-index-h4{
	font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #fff;
	}
.etc-can-ul li a{
	font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	line-height: 26px;
	}
.etc-can-about{
	margin-bottom: 31px;
    margin-top: 20px;
	}
.etc-can-imgs{
	margin-top: 10px;
	}

.etcbb{
	display: none;
	}

@media screen and (max-width: 414px) {
.etcbb{
	display: block;
	float: right;
	}
.etcbb li{
	float:left;
}
.etc-li {
    margin-top: 10px;
    color: #b9b8b8;
	}
.etc-b {
    margin-right: -15px !important;
	}
	
}


@media screen and (max-width: 411px) {
.etcbb{
	display: block;
	float: right;
	}
.etcbb li{
	float:left;
}
.etc-li {
    margin-top: 10px;
    color: #b9b8b8;
	}
.etc-b {
    margin-right: -15px !important;
	}
	
}