.information_01{
	padding-bottom:40px;
	margin-bottom: 5px;
	}
	
.information_03{
	color: #909090;
	font-family: "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";
	font-size:20px;
	text-align:center; 
	padding-left: 1px solid #D9D9D9;
	border-right:1px solid #D9D9D9;
	border-left:1px solid #D9D9D9;
	border-bottom:1px solid #D9D9D9;
	border-top:1px solid #D9D9D9;
	/*background-color: #FFFFFF;*/
	height: 50px;
	line-height:50px;
	cursor: pointer;
	}

/*.information_01 .col-md-4.information_03.change6.active*/
/*.information_02{*/
	/*.information_02,*/
.information_01 .information_03.change6.active{
	color: #FFFFFF;
  font-family: "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";
	font-size:20px;
	text-align:center;
	border:1px solid #6c6c6c;
	border-top: 3px solid #375EAB;
	border-bottom: 3px solid #375EAB;
	border-right: 3px solid #375EAB;
	border-left: 3px solid #375EAB;
	background-color: #375EAB;
	color: #FFFFFF;
	height: 50px;
	line-height:50px;
	display: inline;
	/*overflow : hidden;*/
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	padding-left: 2px;
	box-shadow: -2px 0 10px #CCCCCC, 0 -2px 10px #CCCCCC, 0 2px 10px #CCCCCC, 2px 0 10px #CCCCCC;
	}

.information_04{
	margin-left: 5px;
	color: #8D8D8D;
	font-size: 13px;
	font-family: "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";
	margin-bottom: 10px;
	height:18px;
	}
.information_04 span{
	margin-left: 5px;
	}
.information_05{
	color: #8D8D8D;
	margin-left: 15px;
	/*color: #269fe3;*/
	font-size: 13px;
	font-family: "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";
	}
.information_01 .information_03.change6.active .box{
/*	display: block;*/
	position: absolute;
    width: 0;
    height: 0;
    border: 7px solid #375eab;
    border-color: #375eab #375eab #375eab #375eab;
    transform: rotate(45deg);
    left: 50%;
    margin-left: -7px;
    bottom: -7px;
    display: block;
    z-index: 10;
    color: red;
    /*background: red;*/
	}		
.tab-etc-title{
	text-align: center;
	color: #000000;
	}
.tab-etcp{
	text-align: center;
	padding-top: 1.5%;
	font-size: 16px;
	color: #5f6367;
	}
.tab-etc_captions{
	text-align: center;
	color: #5f6367;
	font-size: 20px;
	}
.tab-etcps{
	text-align: center;
	padding-top: 1.5%;
	font-size: 13px;
	color: #5f6367;
}
.etc-tab-iconfonts{
	text-align:center;
	display: block;
	font-size: 50px;
	color: #5f6367;
	}
.etc-boxcon{
	text-align: center;
}
