/**
 * BUSINESS的background-color 
 */
.row h3{
  color: #fff;
}
/**
 * 小标题格式    
 */
.tit span{
    color: #a0a0a0;
    font-family: "Lora";
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.79;}
.mw-ui-row-nodrop{
height:50px;}
.tit h2{
  color: #fff;
  font-family: "Montserrat";
}
/**
 * margin-bottom间距
 */
.btn {
  margin-bottom: 0.5rem; }
  .btn + .btn {
    margin-left: 1rem; }
  @media (max-width: 767px) {
    .btn {
      white-space: normal; }
      .btn + .btn {
        margin-left: 0; } }
/**
 * DEMO的格式
 */
.mbr-plan-btn .btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0.75rem 2.1875rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.mbr-plan-btn .btn-white-outline {
  background: none;
  border-color: #fff;
  color: #fff; }
  .btn-white-outline:focus, .btn-white-outline.focus, .btn-white-outline:active, .btn-white-outline.active {
    color: #535353;
    background-color: #fff;
    border-color: #fff; }
  .btn-white-outline:hover {
    color: #535353;
    background-color: #fff;
    border-color: #fff; }
  .btn-white-outline.disabled, .btn-white-outline:disabled {
    color: #535353 !important;
    background-color: #fff !important;
    border-color: #fff !important;
    opacity: 0.85; }

/**
 * 右侧
 */
.mbr-section__container--middle {
  padding-top: 0;
  padding-bottom: 40px; }

/*-------

   Price Table

-------*/
@media (min-width: 1600px) {
  .mbr-section-nopadding {
    padding-left: 12%;
    padding-right: 12%; } }
.mbr-price-table .row {
  margin-left: 0;
  margin-right: 0; }
  .mbr-price-table .row > div {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media (max-width: 1199px) {
      .mbr-price-table .row > div {
        padding-bottom: 40px; } }

/*-------

   Price Table / Plan

-------*/
.pla .mbr-plan {
  background: none;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-bottom: 0;
  padding: 0.625rem; }
  .mbr-plan .list-group-item {
    font-family: 'Raleway', sans-serif;
    background: none;
    border-bottom: 0;
    border-top: 1px dotted rgba(255, 255, 255, 0.2);
    font-size: 0.875rem;
    line-height: 3.125rem;
    padding-bottom: 0;
    padding-top: 0; }
  .mbr-plan .card-title {
    margin-bottom: 1.5625rem; }
  .mbr-plan-title {
    font-family: "Montserrat";
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.28;
    margin-bottom: 0; }
  .mbr-plan-subtitle, .mbr-plan-price-desc {
    color: #e8ddcd;
    font-family: "Lora";
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.79; }
  .mbr-plan-price-desc {
    display: block;
    padding-top: 1.25rem; }
  .mbr-plan-header {
    padding-bottom: 3.4375rem;
    padding-top: 2.1875rem;
    position: relative; }

  .btn:hover {
    background-color: none;}

    .mw-ui-field-holder .w100{
        padding-bottom: 10px;
        width:40%;
    }

    .card-title .mbr-plan-price-desc{
      color: #e8ddcd; }
    .mbr-plan-header.bg-success .mbr-plan-subtitle,
    .mbr-plan-header.bg-success .mbr-plan-price-desc {
      color: #d0dac6; }
    .mbr-plan-header.bg-info .mbr-plan-subtitle,
    .mbr-plan-header.bg-info .mbr-plan-price-desc {
      color: #c7d4d5; }
    .mbr-plan-header.bg-warning .mbr-plan-subtitle,
    .mbr-plan-header.bg-warning .mbr-plan-price-desc {
      color: #fbebc1; }
    .mbr-plan-header.bg-danger .mbr-plan-subtitle,
    .mbr-plan-header.bg-danger .mbr-plan-price-desc {
      color: #fef5f5; }
  .mbr-plan-label {
    color: #fff;
    display: block;
    font-size: 0.6875rem;
    font-weight: 400;
    height: 3.125rem;
    line-height: 3.125rem;
    min-width: 3.125rem;
    padding: 0 0.75rem;
    position: absolute;
    right: 0;
    top: 0; }
  .mbr-plan-body {
    margin-top: 2px;
    padding-bottom: 0;
    padding-top: 2.5rem; }
  .mbr-plan-list .list-group{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 4.0625rem;
    padding-top: 1.5625rem; }
  .mbr-plan-btn {
    margin-top: -2.5rem;
    padding-bottom: 1.375rem;
    padding-top: 1.875rem; }

/*-------

   Price Table / Price

-------*/
.card-text .mbr-price {
  font-family: "Montserrat";
  line-height: 1.3; }
  .mbr-price-value {
    font-size: 1.875rem;
    line-height: 1;
    position: relative;
    top: -1.25rem; }
  .mbr-price-figure {
    font-size: 3.75rem;
    line-height: inherit;
    padding-left: 0.625rem; }
  .mbr-price-term {
    font-size: 1.875rem;
    position: relative; }
    .mbr-price-term:before {
      content: "/";
      font-size: 110%;
      font-weight: 100;
      position: relative; }

